@import "tailwindcss";
@import "./styles/form.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow: auto;
    touch-action: auto;
}

p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    @apply text-left text-4xl text-white font-bold;
    span{
        @apply text-base block font-normal;
        font-family: 'Open Sans', sans-serif;
    }
}
#root{
    @apply flex justify-center pt-4 md:pt-0 md:items-center h-full;
    overflow: scroll;
    @media screen and (max-width: 768px) {
        background-image: url('./assets/gradient-bg-mobile.jpg');
        background-size: cover;
        background-position: center center;
    }
}

video{
    @apply hidden md:block lg:block;
}

.main-parent{
    @apply z-2 relative px-8 w-full;
}

.form-aside{
    @apply bg-cover bg-no-repeat bg-linear-to-t from-sky-500 to-indigo-500;
}